name: Run all test for pythonFubag project

on: push

jobs:
  build:
  
    runs-on: windows-latest
    
    steps:
      - name: Get code from repository
        uses: actions/checkout@v3
        
      - name: Set up Python 3.11
        uses: actions/setup-python@v4
        with: 
          python-version: '3.11'
          architecture: 'x64'
          
      - name: Display Python version
        run: python -V
        
      - name: Install flake
        run: pip install flake8
        
      - name: Install tools
        run: | 
          python -m pip install --upgrade pip
          pip3 install pytest
          pip3 install pytest-ordering
          pip3 install selenium
          # stop the build if there are Python syntax errors or undefined names
          flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
          # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
          flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics
        continue-on-error: true
      - name: Run all tests with PyTest
        run: python -m pytest -s -v
    
  
